{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login_style') }}
{% endblock %}

{% block javascripts %}
            {{ encore_entry_script_tags('login') }}
        {% endblock %}
{% block body %}

<div class="container left-panel-active">
	<!-- Sign Up -->
	<!--<div class="container__form container--signup">
		<form method="post" class="form" id="form1">
			<h2 class="form__title">S'inscrire</h2>
			<input type="text" placeholder="User" class="input" />
			<input type="email" placeholder="Email" class="input" />
			<input type="password" placeholder="Password" class="input" />
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<button class="btn" type="submit">S'inscrire</button>
		</form>
	</div>-->

	<!-- Sign In -->
	<div class="container__form container--signin">
		<form method="post" class="form" id="form2">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
				</div>
    		{% endif %}
			<h2 class="form__title">Se connecter</h2>
			<input type="email" placeholder="Email" class="input" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus/>  
			<input type="password" placeholder="Password" class="input" name="password" id="inputPassword" autocomplete="current-password" required/>
			<a href="#" class="link">Mot de passe oublié?</a>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn" type="submit">Se connecter</button>

		</form>
	</div>

	<!-- Overlay -->
	 <div class="container__overlay">
		<div class="overlay">
			<div class="overlay__panel overlay--left">
				<button class="btn" id="signIn">Se connecter</button>
			</div>
			<div class="overlay__panel overlay--right">
				<button class="btn" id="signUp">S'inscrire</button>
			</div>
		</div>
	</div> -->
</div>


{% endblock %}
