{% extends 'base.html.twig' %}

{% block title %}Chris-dev | Développeur Full Stack Symfony VueJS{% endblock %}

{% block body %}
<!--<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Nous sommes sur le {{ controller_name }}! ✅</h1>



    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/web_portfolio/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/web_portfolio/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
        <li>Le lien pour en savoir un peu plus sur le développeur <a href="{{ path('profil', {userIdentity: 'Chris'}) }}">Ici</a></li>

    </ul>
    <p></p>
</div>-->
<div class="container">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<!-- <a class="navbar-brand" >Chris-Dev</a> -->
				<a class="brick users" href="#"><span class='oi oi-person'></span>Users</a>
				<i class='bx-fw bx bxl-facebook-square'></i>Facebook
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{path('home',)}}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('profil', {userIdentity: 'Chris' })}}">Qui suis-je?</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								More
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="{{path('scaffold',)}}">Scaffold</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{path('contact',)}}">Contact</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="{{path('register_submit',)}}">Formulaire Symfony Inscription</a>
								</li>
							</ul>
						</li>

					</ul>
					<!-- <form class="d-flex">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form> -->
				</div>
			</div>
		</nav>
		<main>
			<section class="mountain">
				<img src="{{asset('build/img/parallax/bg.jpg')}}" id="bg" alt="parallax effect js mountain">
				
				<img src="{{asset('build/img/parallax/man.png')}}" id="man" alt="parallax effect js alpinist">
				<img src="{{asset('build/img/parallax/clouds_1.png')}}" id="clouds_1" alt="parallax effect js clouds">
				<img src="{{asset('build/img/parallax/clouds_2.png')}}" id="clouds_2" alt="parallax effect js clouds" >
				<img src="{{asset('build/img/parallax/mountain_left.png')}}" id="mountain_left" alt="parallax effect js mountain" >
				<img src="{{asset('build/img/parallax/mountain_right.png')}}" id="mountain_right" alt="parallax effect js mountain">
				<h3 id="text">CHRIS DEV </h3>				
			</section>
			<div class="sec">
				<h1>Le développeur fullstack: un artisan complet</h1>
				<p>Ceci est mon premier site web vitrine, ce qui me permet d'avoir une visibilité sur le net, auprès de les futurs collaborateurs et ultimement un outil pour monter en compétence sur des technologies variées. Actuellement avec un focus particulier sur Symfony, il me permettra d'utiliser toute la puissance framework et de diverses technologies. Il est plutôt simple, mais écrit au correctement en se concentrant sur les bonnes pratiques. </p>
				
				<figure>
    			<blockquote>
        		<p>Le mieux est l'ennemi du bien.</p>
				</blockquote>
				<figcaption>(Voltaire, La Bégueule, 1772)</a></cite></figcaption>
				</figure>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sem ut lectus sagittis sagittis. Quisque in tortor sodales, aliquet orci vitae, pellentesque massa. Vestibulum vel dictum leo. Sed viverra quam sed nisl semper egestas. Sed porta magna justo, sit amet sagittis nisi condimentum vitae. Mauris porttitor libero sed euismod imperdiet. Vestibulum dictum odio velit, id lacinia sapien dignissim sit amet. In sagittis venenatis ligula a aliquam.

				Curabitur tincidunt, mauris at commodo efficitur, sem dolor sagittis diam, sed ultrices odio diam eget ante. Donec bibendum fringilla dignissim. Fusce tempor enim quis velit convallis, quis hendrerit nulla hendrerit. In hac habitasse platea dictumst. Proin tellus urna, accumsan nec sapien et, posuere faucibus sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer porttitor convallis enim, quis condimentum quam pharetra at. Praesent id nibh in nisi vulputate euismod eget et lacus.

				Duis sit amet ipsum a orci fringilla consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam volutpat iaculis purus at pulvinar. Duis consectetur et lorem et elementum. Nam pretium varius velit non mattis. Nullam et fringilla enim. In nec finibus sem, eu hendrerit diam. Proin a sapien in orci viverra tincidunt vel sed mauris. Morbi rutrum molestie nisi ut iaculis. Phasellus tincidunt eget purus et maximus. Etiam maximus dapibus molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin vel sagittis lectus. Nulla ut nisl massa. Integer lobortis facilisis commodo.

				Curabitur nec magna mauris. Curabitur laoreet auctor est, quis posuere arcu facilisis vitae. Fusce porta ligula vel orci bibendum efficitur. Donec lacinia hendrerit rhoncus. Ut sit amet orci vitae lorem molestie tristique. Mauris condimentum est at magna vehicula scelerisque. Curabitur urna eros, iaculis eu turpis at, facilisis maximus velit.

				Sed elementum non dolor at dictum. Etiam sit amet leo iaculis, cursus erat eget, gravida lacus. Cras id gravida sem. Quisque luctus laoreet neque, ac bibendum ligula sodales non. Integer sem leo, rutrum ut lectus id, tempus convallis lectus. Ut sed ultricies nisl, et laoreet velit. Pellentesque finibus neque non neque pharetra pellentesque sit amet a purus. Morbi ut ultrices ipsum, eget congue nulla. Cras in finibus risus. Ut vel mattis leo. Integer in vestibulum ipsum, sed pulvinar odio. Donec commodo est sed urna blandit, nec euismod ante rhoncus. Ut congue dictum aliquam.</p>
			</div>
		</main>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>


		<footer class="my-5 pt-5 text-muted text-center text-small">
			<p class="mb-1">&copy; 2017–2020 Company Name</p>
			<ul class="list-inline">
				<li class="list-inline-item">
					<a href="#">Privacy</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Terms</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Support</a>
				</li>
			</ul>
		</footer>
	</div>
	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
	<script>
		gsap.to("#bg", {
			scrollTrigger : {
				scrub : 1
			},
			scale : 1.5
		})

		gsap.to("#man", {
			scrollTrigger : {
				scrub : 1
			},
			scale : 0.5
		})

		gsap.to("#mountain_left", {
			scrollTrigger : {
				scrub : 1
			},
			x: -500,
		})

		gsap.to("#mountain_right", {
			scrollTrigger : {
				scrub : 1
			},
			x: 500,
		})

		/*gsap.timeline({
			scrollTrigger: {
				trigger: "";
			}
		})*/
	</script>

{% endblock %}
