{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Chris Dev</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page"  href="{{path('home',)}}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('who', {userIdentity: 'Chris' })}}">Qui suis-je?</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								More
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="{{path('scaffold',)}}">Scaffold</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{path('register',)}}">Contact</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item"  href="{{path('register_submit',)}}">Formulaire Contact Symfony</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="d-flex">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
		<main>
			<div class="py-5 text-center mt-5">
				<h2>Contact</h2>
				<p class="lead">Cette page me permet de vous recontacter ultérieurement et d'écrire le nom des généreux donateurs dans le livre d'or.</p>
			</div>

			<div class="row g-3">
				<div class="col-md-8 col-lg-7">
					<!-- <h4 class="mb-3">Ajouter un compte</h4> -->
					<form class="needs-validation" >
						<div class="row g-3 mb-5">
							<div class="col-sm-6">
								<label for="firstName" class="form-label">Prénom</label>
								<input type="text" class="form-control" id="firstName" placeholder="" value="">
								<div class="invalid-feedback">
									Un prénom valide est requis.
								</div>
							</div>

							<div class="col-sm-6">
								<label for="lastName" class="form-label">Nom</label>
								<input type="text" class="form-control" id="lastName" placeholder="" value="">
								<div class="invalid-feedback">
									Un nom valide est requis.
								</div>
							</div>

							<!-- <div class="col-12">
								<label for="username" class="form-label">Mail</label>
								<div class="input-group">
									<span class="input-group-text">@</span>
									<input type="text" class="form-control" id="username" placeholder="Pseudonyme" required>
									<div class="invalid-feedback">
										Un pseudonyme est requis.
									</div>
								</div>
							</div> -->

							<!-- <div class="col-12">
								<label for="username" class="form-label">Mot de passe</label>
								<div class="input-group">
									<input type="password" class="form-control" id="password" placeholder="Votre mot de passe" required>
									<div class="invalid-feedback">
										Un mot de passe est requis.
									</div>
								</div>
							</div> -->

							<div class="col-12">
								<label for="email" class="form-label">Email
									<!-- <span class="text-muted">(Optional)</span> -->
								</label>
								<input type="email" class="form-control" id="email" placeholder="Adresse mail" oninput="form.email_confirm.pattern = escapeRegExp(this.value)" required>
								<div class="invalid-feedback">
									Entrez une adresse e-mail valide pour mail confirmation.
								</div>
							</div>

							<div class="col-12">
									<!-- <span class="text-muted">(Optional)</span> -->
								</label>
								<input type="email" class="form-control" id="email_confirm" placeholder="Confirmation de l'adresse mail" pattern=""  title="Les deux adresses mail doivent être identiques" required>
								<div class="invalid-feedback">
									Entrez une adresse e-mail valide pour mail confirmation.
								</div>
							</div>

							<div class="col-md-5">
								<label for="country" class="form-label">Statut</label>
								<select class="form-select" id="country" required>
									<option>Recruteur</option>
									<option>Particulier</option>
									<option>Collaboration</option>
									<option>Société</option>
								</select>
								<div class="invalid-feedback">
									Sélectionnez un des statuts.
								</div>
							</div>
						</div>


						<div class="form-check mb-4">
							<input type="checkbox" class="form-check-input" id="same-address" required>
							<label class="form-check-label" for="same-address">J'ai lu et j'accepte les conditions générales d'utilisation et la politique d'utilisation des données. *</label>
						</div>


						<!-- <button class="w-100 btn btn-primary btn-lg" type="submit" href="{{path('register_submit',)}}">Confirmer</button> -->
						<button class="w-50 btn btn-primary btn-lg mx-auto d-block" type="submit" href="{{path('register_submit',)}}">Confirmer</button> 
					</form>

						<hr class="my-4">
				</div>
				<div class="col-md-4 col-lg-5">
				<h3 class="text-center">1 euro, le prix d'un café pour rester éveillé !</h3>
					<div id="smart-button-container">
						<div style="text-align: center;">
							<div id="paypal-button-container"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="register-info">
				<p>* Informations obligatoires</p>
				<p>En tant que responsable de traitement, Chris Dev traite vos données personnelles pour gérer vos mises en relation avec le développeur responsable du site web. Vous disposez d’un droit d’accès, de rectification, d’effacement de vos données personnelles. Vous pouvez vous opposer ou limiter certains traitements. Vous disposez également du droit de définir des directives relatives au sort de vos données après votre décès. Enfin, vous avez le droit d’introduire une réclamation auprès de la Commission nationale de l’informatique et des libertés. Pour en savoir plus sur la gestion de vos données et de vos droits par Chris Dev, consultez notre Politique de protection des données.</p>
			</div>


		</main>

		<footer class="my-5 pt-5 text-muted text-center text-small">
			<p class="mb-1">&copy; 2020–2021 Chris SIMON</p>
			<ul class="list-inline">
				<li class="list-inline-item">
					<a href="#">Privacy</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Terms</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Support</a>
				</li>
			</ul>
		</footer>
	</div>

	<script>
    function escapeRegExp(str) {
      return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
    }
</script>
<div id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>
  <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=EUR" data-sdk-integration-source="button-factory"></script>
  <script>
    function initPayPalButton() {
      paypal.Buttons({
        style: {
          shape: 'pill',
          color: 'white',
          layout: 'vertical',
          label: 'donate',
          
        },

        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{"amount":{"currency_code":"EUR","value":1,"breakdown":{"item_total":{"currency_code":"EUR","value":1}}},"items":[{"name":"item name","unit_amount":{"currency_code":"EUR","value":1},"quantity":"1","category":"DONATION"}]}]
          });
        },

        onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
            alert('Transaction completed by ' + details.payer.name.given_name + '!');
          });
        },

        onError: function(err) {
          console.log(err);
        }
      }).render('#paypal-button-container');
    }
    initPayPalButton();
  </script>

{% endblock %}

